<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta dolores dolorem molestias doloribus itaque
            impedit iusto ipsam ad unde nam reprehenderit veritatis quis quo officia libero ab quod at, sed non aperiam
            maxime! Incidunt ducimus perferendis inventore consequuntur, labore aliquam! Quasi dolorem officiis
            perspiciatis excepturi quidem, nemo non eius, iure tempore itaque exercitationem beatae unde! Ipsam officiis
            beatae, magnam maiores minus unde reprehenderit temporibus excepturi amet. Voluptas, placeat eligendi esse
            minus illo quibusdam eveniet quod vero laudantium ab nostrum id?

        </p>
    </div>
</div>